<div class="navbar">
    <div class="logo">
        <img src="https://static.vecteezy.com/system/resources/thumbnails/004/297/882/small_2x/plane-way-icon-airplane-path-direction-and-destination-red-point-logo-design-template-holiday-trip-illustration-template-on-white-background-vector.jpg" alt="plane logo">
    </div>
    <div class="nav">
        
        <ul >
            <div class="nav2">
            <li><a href="/">Home</a></li>
            <li><a href="/flights">Reservation</a></li>
            </div>
            
        </ul>
    </div>
</div>