<%- include ('./partials/head.ejs') %>
<!-- navbar -->
<%- include('./partials/navbar.ejs') %>
<!-- the body -->

<div class="main-body">

    <div class="image">
        <img src="https://www.mediaterre.org/users/MathildeAupetit/images/jerry-zhang-onxvkzldsj0-unsplash.jpg" alt="">
    </div>
    <div class="body-text">
        <h1>
            SAFI AIR.
        </h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi tempore autem iusto earum quibusdam voluptate itaque incidunt ea. Doloremque cumque debitis ullam facere, mollitia dolorem fugiat possimus odit maiores quia.
        </p>
        <button>Reserve now!</button>
    </div>
    

     
</div>
<%- include('./partials/footer.ejs') %>

